---
layout: default
layout_grid: true
home: true
angularjs: true
title: JHipster - 现代开发人员的全栈开发平台!
sitemap:
    priority: 1.0
    lastmod: 2016-05-25T00:00:00-00:00
---
<div ng-app="jhipster.home" ng-controller="HomeController" class="home-container">
    <div class="mobile-search-container container">
        <div class="row">
            <form id="mobile-content-search-form">
                <i class="fa fa-search"></i>
                <input type="text" name="search" class="form-control mobile-doc-search-algolia" placeholder="Search..." />
            </form>
        </div>
    </div>
    <!-- Header -->
    <header id="header" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-big"><img class="img-responsive" id="hipster" src="images/logo/jhipster_family_member_1.svg" alt=""></div>
                    <div class="intro-text">
                        <span class="brand">你好, Java 热爱者!</span>
                        <hr class="star-light">
                        <p class="project-description">
                            JHipster是一个开发平台，可以快速生成，开发和部署现代Web应用程序+微服务架构。
                        </p>
                        <hr class="star-light">
                        <p class="open-collective-info">
                            JHipster 在 <a href="https://opencollective.com/generator-jhipster" target="_blank" rel="noopener">Open Collective</a>开启赞助,
                            如果你 <i class="fa fa-heart"></i> JHipster, 考虑成为我们的
                            <a href="https://opencollective.com/generator-jhipster#sponsor" target="_blank" rel="noopener">赞助商</a> 或者
                            <a href="https://opencollective.com/generator-jhipster#backer" target="_blank" rel="noopener">支持者</a>
                        </p>
                        <div class="row stats">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a href="https://www.npmjs.com/package/generator-jhipster" target="_blank" rel="noopener">
                                    <div class="card dark summary-inline">
                                        <div class="card-body">
                                            <i class="icon fa fa-download fa-3x"></i>
                                            <div class="content" ng-cloak>
                                                <div class="title">{(npmDownloads)}</div>
                                                <div class="sub-title">过去三十天下载量</div>
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">
                                    <div class="card dark summary-inline">
                                        <div class="card-body">
                                            <i class="icon fa fa-github fa-3x"></i>
                                            <div class="content" ng-cloak>
                                                <div class="title">{(gitConfig.stargazers_count)}</div>
                                                <div class="sub-title">点赞</div>
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a href="https://github.com/jhipster/generator-jhipster/contributors" target="_blank" rel="noopener">
                                    <div class="card dark summary-inline">
                                        <div class="card-body">
                                            <i class="icon fa fa-users fa-3x"></i>
                                            <div class="content" ng-cloak>
                                                <div class="title">{(gitContributors)}</div>
                                                <div class="sub-title">贡献者</div>
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Learn Section -->
    <section id="learn" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row padding-t-25">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">JHipster快速入门</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ol class="text-body">
                        <li>安装
                            <a href="https://adoptopenjdk.net/" target="_blank" rel="noopener">Java</a>、
                            <a href="http://git-scm.com/" target="_blank" rel="noopener">Git</a> 和
                            <a href="http://nodejs.org/" target="_blank">Node.js</a></li>
                        <li>安装JHipster <code>npm install -g generator-jhipster</code></li>
                        <li>创建一个新目录并进入 <code>mkdir myApp &amp;&amp; cd myApp</code></li>
                        <li>运行Jhipster并根据屏幕指示操作 <code>jhipster</code></li>
                        <li>使用 <a href="https://start.jhipster.tech/jdl-studio/" target="_blank" rel="noopener">JDL Studio</a> 设计您的实体类后, 下载<code>jhipster-jdl.jh</code>文件</li>
                        <li>生成实体类代码 <code>jhipster jdl jhipster-jdl.jh</code></li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading" id="video">15分钟学习JHipster</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <a href="https://twitter.com/mraible"><i>Matt Raible</i></a>发布了一个如何使用Jhipster6来开发一个Spring Boot2.1+Angular8应用的教学视频。
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
                    <div class="video-container">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/uQqlO3IGpTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row padding-t-25">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">课程 &amp; 书籍</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>书籍</h3>
                        <ul>
                            <li><a href="https://www.infoq.com/minibooks/jhipster-mini-book-5" target="_blank" rel="noopener">《The JHipster Mini-Book 5.0》</a> (Matt Raible)，这个版本更新一些新的章节，包括渐进式Web应用、代码质量和用户数据安全。</li>
                            <li><b>JHipster全栈开发 - 第2版</b> (Deepu K Sasidharan与Sendil Kumar)，可以通过<a href="https://www.packtpub.com/web-development/full-stack-development-with-jhipster-second-edition" target="_blank" rel="noopener">Packt</a> 和 <a href="https://smile.amazon.com/Full-Stack-Development-JHipster-microservices/dp/1838824987" target="_blank" rel="noopener">Amazon</a>购买。</li>
                        </ul>
                        <h3>社区教程/培训</h3>
                        <ul>
                            <li><a href="https://www.pluralsight.com/courses/play-by-play-developing-microservices-mobile-apps-jhipster" target="_blank" rel="noopener">手把手教学——使用Jhispter开发微服务和移动应用</a> by <a href="https://twitter.com/mraible" target="_blank" rel="noopener">Matt Raible</a> 和 <a href="https://twitter.com/mhi_inc">Michael Hoffman</a></li>
                            <li><a href="https://therealdanvega.teachable.com/p/jhipster/?product_id=456739&coupon_code=JHIPSTER" target="_blank" rel="noopener">Angular 4+Java开发(Dan Vega与John Thompson)</a> (点击此链接可以获取一个惊人的折扣!)</li>
                            <li>JHipster——构建和部署Spring Boot微服务（Chris Anatalio）(<a href="https://linkedin-learning.pxf.io/c/1252615/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fjhipster-build-and-deploy-spring-boot-microservices%3Ftrk%3Dinsiders_43129714_learning" target="_blank" rel="noopener">领英学习</a>、<a href="https://www.lynda.com/course-tutorials/JHipster-Build-Deploy-Microservices/624352-2.html" target="_blank" rel="noopener">Lynda.com</a>)</li>
                            <li>JHipster免费教程 <a href="https://trainings.com/course/Rapid-Development-with-JHipster-Spring-and-Angular-6/view" target="_blank" rel="noopener">使用JHipster-Angular-Springboot快速开发应用程序（Subbaraja Malepati）</a>、(<a href="https://trainings.com" target="_blank" rel="noopener">Trainings.com</a>)</li>
                            <li>边做边学 <a href="https://www.spingular.com" target="_blank" rel="noopener">Spingular</a>。加入由JHipster进行的实时协作项目！: Spingular Chat w/Websockets</li>
                            <li><a href="https://betterprojectsfaster.com/learn/tutorial-jhipster-docker-01" target="_blank" rel="noopener">使用JHipster和Docker快速创建高质量Java项目</a> (3部分组成) 作者：<a href="https://betterprojectsfaster.com/about/" target="_blank" rel="noopener">Karsten Silz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contributing section -->
    <section id="sponsors" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">Sponsors &amp; backers</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        如果您发现Jhispter给您的工作中带来了不错的便利, 请考虑请求您的公司<a href="https://opencollective.com/generator-jhipster#sponsor" target="_blank" rel="noopener">成为我们的赞助商</a>来支持这个开源项目。您也可以通过<a href="https://opencollective.com/generator-jhipster#backer" target="_blank" rel="noopener"> 成为一个独立的支持者</a>。
                    </p>
                    <p>
                        <a href="https://opencollective.com/generator-jhipster/donate" target="_blank">
                            <img src="https://opencollective.com/generator-jhipster/donate/button@2x.png?color=blue" width=300 />
                        </a>
                    </p>
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        <strong>感谢我们的白金赞助商！</strong>
                    </p>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://developer.okta.com/?utm_campaign=display_website_all_multiple_dev_dev_jhipster-q2_&utm_source=jhipster&utm_medium=cpc" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/okta.png" width="550px" height="186px"></a>
                                </div>
                                <div class="caption">
                                    <a href="https://developer.okta.com/blog/2021/01/20/reactive-java-microservices?utm_campaign=text_website_all_multiple_dev_dev_jhipster-q2_&utm_source=jhipster&utm_medium=cpc" target="_blank" rel="noopener">使用JHipster和OAuth 2.0构建反应性微服务</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        <strong>感谢我们的金牌赞助商!</strong>
                    </p>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="http://www.octoconsulting.com/" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/octoconsulting.png" width="180px" height="175px"></a>
                                </div>
                                <div class="caption">
                                    <a href="http://www.octoconsulting.com/" target="_blank" rel="noopener">Octo咨询集团</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://dev.entando.org/jhipster" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/entandoe.png" width="180px" height="175px"></a>
                                </div>
                                <div class="caption">
                                    <a href="https://dev.entando.org/jhipster" target="_blank" rel="noopener">Kubernetes的微型前端平台</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://www.datastax.com/" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/datastax.png" width="180px" height="175px"></a>
                                </div>
                                <div class="caption">
                                    <a href="https://www.datastax.com/" target="_blank" rel="noopener">DataStax，适用于现代数据应用程序的开放式多云技术栈。</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center" id="silver-sponsor" style="display: none;">
                    <p>
                        <strong>感谢我们的白银赞助商！</strong>
                    </p>
                    <div class="row" id="oc-silver-sponsor">
                        <!-- data here is inserted dynamically -->
                    </div>
                </div>
                <div class="col-md-12 text-center" id="bronze-sponsor" style="display: none;">
                    <p>
                        <strong>感谢我们的青铜赞助商！</strong>
                    </p>
                    <div class="row" id="oc-bronze-sponsor">
                        <!-- data here is inserted dynamically -->
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <p>
                        <strong>谢谢我们所有的支持者！</strong>
                    </p>
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-12 col-md-4">
                            <!-- shown in large screens only -->
                            <object class="visible-sm visible-md visible-lg" data="https://opencollective.com/generator-jhipster/tiers/backer.svg?avatarHeight=40&width=760&button=false" type="image/svg+xml"></object>
                            <!-- shown in mobile screens only -->
                            <object class="visible-xs" data="https://opencollective.com/generator-jhipster/tiers/backer.svg?avatarHeight=40&width=330&button=false" type="image/svg+xml"></object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Companies supporting JHipster section -->
    <section id="supporters" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">支持JHipster的公司</h2>
                    <hr class="star-primary">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p>此支持包括：</p>
                            <ul>
                                <li>核心贡献者（Ippon，Okta，Entando）投入的开发时间</li>
                                <li>开发Micronaut蓝图（Object Computing）</li>
                                <li>参与Quarkus蓝图开发（Entando）</li>
                            </ul>
                            <p>如果您希望将您的公司添加到此处，请随时与我们联系并说明原因。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://en.ippon.tech/" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/ippon.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://developer.okta.com/?utm_campaign=display_website_all_multiple_dev_dev_jhipster-q2_&utm_source=jhipster&utm_medium=cpc" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/okta.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://objectcomputing.com/" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/oci.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://entando.com/" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/entando.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News section -->
    <section id="news" class="padding-t-25 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">JHipster动态</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <b>请关注我们推特
                <a href="https://twitter.com/jhipster" target="_blank" rel="noopener"><i class="fa fa-twitter"></i> @jhipster</a>获取Jhipster最新动态</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Jhipster中文站</h3>
                        <p>官方<a href="/cn/">JHipster中文站</a>现已推出! <a href="/cn/">JHipster的中文官方网站</a>终于和大家见面了！</p>
                        <p>请在这个专属的 <a href="https://github.com/jhipster/cn">Github项目</a>审查和提升中文站的质量. 欢迎大家来<a href="https://github.com/jhipster/cn">Github的翻译项目</a>上添砖加瓦！</p>
                        <h3>大事记</h3>
                        <ul>
                            <li>2021年1月13日: 在<a href="https://jchampionsconf.com/">jChampions Conference</a>，<a href="https://twitter.com/saturnism" target="_blank" rel="noopener">Ray Tsang</a> 和 <a href="https://twitter.com/mraible" target="_blank" rel="noopener">Matt Raible</a> 展示了<b>使用JHipster和Kubernetes开始自己的冒险之旅</b>。<a href="https://youtu.be/AG4z18qePEw">📺</a>.</li>
                            <li>2021年1月15日：在<a href="https://www.dawsoncollege.qc.ca/dawscon/">DawsCon</a>，<a href="https://twitter.com/juliendubois" target="_blank" rel="noopener">Julien Dubois</a> 呈现的 <b>JHipster简介</b>. <a href="https://youtu.be/hfIIGc5lkME">📺</a></li>
                            <li>2021年1月21日： 在<a href="https://www.meetup.com/en-AU/Richmond-Java-Users-Group/events/275548750/">Richmond Java用户组</a>，<a href="https://twitter.com/mraible" target="_blank" rel="noopener">Matt Raible</a> 将展示 <b>使用JHipster的反应式微服务</b>.</li>
                            <li>2021年3月30日至31日： 在<a href="https://java.geekle.us/" target="_blank" rel="noopener">Geekle Java Summit</a>，<a href="https://twitter.com/deepu105" target="_blank" rel="noopener">Deepu K Sasidharan</a> 将做一个关于<b>使用JHipster，Istio和Kubernetes构建微服务</b>的讨论。</li>
                        </ul>
                        <h3>动态</h3>
                        <ul>
                            <li><b>JHipster开发人员协会</b> 现在主持 <b>虚拟聚会</b> 在 <a href="https://www.youtube.com/c/JHipsterDevelopersAssociation">YouTube频道</a>.</li>
                            <li><b>使用JHipster进行全栈开发-第2版</b>由Deepu K Sasidharan和Sendil Kumar出版. 通过 <a href="https://www.packtpub.com/web-development/full-stack-development-with-jhipster-second-edition" target="_blank" rel="noopener">Packt</a> 和 <a href="https://smile.amazon.com/Full-Stack-Development-JHipster-microservices/dp/1838824987" target="_blank" rel="noopener">Amazon</a>获得，使用折扣代码`25JAVASILVER`从Amazon和Packt获得25％的电子书折扣。 有效期至2020年7月1日</li>
                            <li>Matt Raible撰写的<b>The JHipster Mini-Book 5.0</b>现已推出！ 从 <a href="https://www.infoq.com/minibooks/jhipster-mini-book-5" target="_blank" rel="noopener">InfoQ</a>免费下载或在 <a href="http://www.lulu.com/shop/matt-raible/the-jhipster-mini-book/paperback/product-23871310.html">Lulu</a>购买印刷版。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about section -->
    <section id="about" class="blue padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">JHipster是什么?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <span class="title text-center">
                    <div class="head-icons">
                        <a href="http://projects.spring.io/spring-boot/" target="_blank" rel="noopener"><img src="images/logo/svg/spring-boot.svg" class="project-icon img-responsive"></a>
                        <i class="fa fa-4x">+</i>
                        <a href="https://angular.io/" target="_blank" rel="noopener"><img src="images/logo/svg/angular.svg" class="project-icon img-responsive"></a><br class="visible-xs">
                        <i class="fa fa-4x">/</i>
                        <a href="https://reactjs.org/" target="_blank" rel="noopener"><img src="images/logo/svg/react.svg" class="project-icon img-responsive"></a><br class="visible-xs">
                        <i class="fa fa-4x">/</i>
                        <a href="https://vuejs.org/" target="_blank" rel="noopener"><img src="images/logo/svg/vue.svg" class="project-icon img-responsive"></a><br class="visible-xs">
                        <i class="fa fa-4x">=</i>
                        <a href="/"><img id="hipster-head" src="images/logo/jhipster_family_member_0_head.svg" class="project-icon img-responsive"></a>
                    </div>
                    <p class="lead font-weight-normal">
                        JHipster是一个开发平台，可以快速生成、开发和部署现代Web应用程序和微服务架构。我们支持许多前端技术，包括Angular，React和Vue。
                        我们甚至为Ionic和React Native提供了移动应用程序支持！在后端，我们支持Spring Boot（使用Java或Kotlin）、Micronaut、Quarkus、Node.js和.NET。
                        对于部署，我们通过Docker和Kubernetes拥抱云原生原则。对AWS，Azure，Cloud Foundry，Google Cloud Platform，Heroku和OpenShift的部署支持。
                    </p>
                </span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="hipster-font heading">目标</h3>
                    <p>
                        我们的目标是生成一个完整的现代Web应用程序或微服务架构，以统一：
                    </p>
                    <ul>
                        <li>基高性能，强大的服务器端技术栈，具有出色的测试覆盖率</li>
                        <li>带有Angular，React或Vue，集成Bootstrap CSS的时尚、现代、移动优先的UI</li>
                        <li>使用Webpack和Maven或Gradle构建应用程序的强大工作流</li>
                        <li>云原生原则的弹性微服务架构思想</li>
                        <li>基础架构即代码，因此您可以快速部署到☁️</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3 class="hipster-font heading">示例 &amp; 源码</h3>
                    <p>使用最新版本的JHipster生成的示例应用程序：</p>
                    <ul>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app" target="_blank" rel="noopener">Spring Boot + Angular</a>
                            <ul>
                                <li><a href="https://github.com/jhipster/jhipster-sample-app-react" target="_blank" rel="noopener">{... React}</a></li>
                                <li><a href="https://github.com/jhipster/jhipster-sample-app-vuejs" target="_blank" rel="noopener">{... Vue.js}</a></li>
                                <li><a href="https://github.com/jhipster/jhipster-sample-app-kotlin" target="_blank" rel="noopener">{... Kotlin}</a></li>
                            </ul>
                        </li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-micronaut" target="_blank" rel="noopener">Micronaut + Angular</a></li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-quarkus" target="_blank" rel="noopener">Quarkus + Angular</a></li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-nodejs" target="_blank" rel="noopener">Node.js + Angular</a></li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-dotnetcore" target="_blank" rel="noopener">.NET + Angular</a></li>
                    </ul>
                    <p>
                        JHipster是开源的，所有开发都已完成
                        <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">on GitHub</a>
                    </p>
                    <ul>
                        <li> 如果您想与我们一起编码，请随时加入！</li>
                        <li> 如果您喜欢该项目，请给我们GitHub上加⭐️。</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Stack options Section -->
    <section id="opts" class="blue padding-t-50 padding-b-25 home-section">
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">前端技术栈</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle">
                    <img src="images/logo/svg/html-5.svg" />
                    <span class="title_sub_tech">HTML5</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/css-3.svg" />
                    <span class="title_sub_tech">CSS3</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/bootstrap.svg" />
                    <span class="title_sub_tech">Bootstrap</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/typescript.svg" />
                    <span class="title_sub_tech">TypeScript</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/angular.svg" />
                    <span class="title_sub_tech">Angular</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/react.svg" />
                    <span class="title_sub_tech">React</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/vue.svg" />
                    <span class="title_sub_tech">Vue</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/redux.svg" />
                    <span class="title_sub_tech">Redux</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/websocket.png" class="invert"/>
                    <span class="title_sub_tech">Websockets</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/yarn.svg"/>
                    <span class="title_sub_tech">Yarn</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/webpack.svg"/>
                    <span class="title_sub_tech">Webpack</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/sass.svg" class="height" />
                    <span class="title_sub_tech">Sass</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/browsersync.svg" />
                    <span class="title_sub_tech">Browsersync</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/jest.svg" />
                    <span class="title_sub_tech">Jest</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/protractor.png" />
                    <span class="title_sub_tech">Protractor</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">服务端技术栈</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle">
                    <img src="images/logo/svg/spring-boot.svg" />
                    <span class="title_sub_tech">Spring Boot</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/icons/spring.png"/>
                    <span class="title_sub_tech">Spring Security</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/micronaut.svg" />
                    <span class="title_sub_tech">Micronaut</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/netflix.png"/>
                    <span class="title_sub_tech">Netflix OSS</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/consul.svg"/>
                    <span class="title_sub_tech">Consul</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/gradle.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">Gradle</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/maven.png" class="invert-hover-white width" />
                    <span class="title_sub_tech">Maven</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/hibernate.svg" />
                    <span class="title_sub_tech">Hibernate</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/liquibase.gif" class="width" />
                    <span class="title_sub_tech">Liquibase</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/mysql.svg" />
                    <span class="title_sub_tech">MySQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/mariadb.svg" />
                    <span class="title_sub_tech">MariaDB</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/postgresql.svg" class="height" />
                    <span class="title_sub_tech">PostgreSQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/oracle.svg" class="width" />
                    <span class="title_sub_tech">Oracle</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/mssql.png"/>
                    <span class="title_sub_tech">MS SQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/mongo.png" />
                    <span class="title_sub_tech">MongoDB</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/mongock.png" />
                    <span class="title_sub_tech">Mongock</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg//cassandra.svg" class="invert-hover-white" />
                    <span class="title_sub_tech">Cassandra</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg//couchbase.svg"/>
                    <span class="title_sub_tech">Couchbase</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/neo4j-icon.svg"/>
                    <span class="title_sub_tech">Neo4j</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/ehcache.png" />
                    <span class="title_sub_tech">EhCache</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/caffeine.png" />
                    <span class="title_sub_tech">Caffeine</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/Hazelcast.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">Hazelcast</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/infinispan.png" />
                    <span class="title_sub_tech">Infinispan</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/memcached.png" />
                    <span class="title_sub_tech">Memcached</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/redis.png" />
                    <span class="title_sub_tech">Redis</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/elasticsearch.svg"/>
                    <span class="title_sub_tech">Elasticsearch</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/kafka.svg" class="invert-hover-white"/>
                    <span class="title_sub_tech">Kafka</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/swagger.png"/>
                    <span class="title_sub_tech">Swagger</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/elastic-stack.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">Elastic Stack</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/prometheus.svg"/>
                    <span class="title_sub_tech">Prometheus</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/thymeleaf.png"/>
                    <span class="title_sub_tech">Thymeleaf</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/gatling.png"/>
                    <span class="title_sub_tech">Gatling</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/cucumber.svg"/>
                    <span class="title_sub_tech">Cucumber</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/archunit.svg"/>
                    <span class="title_sub_tech">ArchUnit</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/testcontainers.svg"/>
                    <span class="title_sub_tech">Testcontainers</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">部署技术栈</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle new">
                    <img src="images/logo/svg/docker.svg"/>
                    <span class="title_sub_tech">Docker</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/kubernets.svg"/>
                    <span class="title_sub_tech">Kubernetes</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/heroku.svg"/>
                    <span class="title_sub_tech">Heroku</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/cf.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">CloudFoundry</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/aws.svg" class="width"/>
                    <span class="title_sub_tech">AWS</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/boxfuse.svg"/>
                    <span class="title_sub_tech">Boxfuse</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/gcp.png"/>
                    <span class="title_sub_tech">Google Cloud<br/> Platform</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/openshift.svg"/>
                    <span class="title_sub_tech">OpenShift</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/azure-spring-cloud-large.png"/>
                    <span class="title_sub_tech">Azure Spring Cloud</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">CI/CD技术栈</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle new">
                    <img src="images/logo/svg/jenkins.svg"/>
                    <span class="title_sub_tech">Jenkins</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/travis.svg"/>
                    <span class="title_sub_tech">Travis CI</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/gitlab.svg"/>
                    <span class="title_sub_tech">GitLab CI</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/circleci.svg"/>
                    <span class="title_sub_tech">CircleCI</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/azure-pipelines.png"/>
                    <span class="title_sub_tech">Azure Pipelines</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/github-actions.svg"/>
                    <span class="title_sub_tech">Github Workflows</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
    </section>

    <!-- Who uses Section -->
    <section id="companies" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">谁在使用JHipster?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-controller="UsersCtrl">
                    <div>
                        <p>
                            全世界许多大公司都在使用Jhipster! <a href="{{ site.url }}/companies-using-jhipster/">点击此处查看完整的列表</a>, 如果你的公司也使用了Jhipster, 不要忘记在这里也添加您的公司<i class="fa fa-smile-o"></i>
                        </p>
                    </div>
                    <div id="carousel-customers" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item container {($index == 0 ? 'active': '')}" ng-if="$index % 6 == 0"
                                ng-repeat="user in users | filter:{logo:'!!'} | orderBy:'name' as filteredUsers">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index].logo)}" alt="{(filteredUsers[$index].name)}" title="{(filteredUsers[$index].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 1)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 1].logo)}" alt="{(filteredUsers[$index + 1].name)}" title="{(filteredUsers[$index + 1].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 2)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 2].logo)}" alt="{(filteredUsers[$index + 2].name)}" title="{(filteredUsers[$index + 2].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 3)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 3].logo)}" alt="{(filteredUsers[$index + 3].name)}" title="{(filteredUsers[$index + 3].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 4)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 4].logo)}" alt="{(filteredUsers[$index + 4].name)}" title="{(filteredUsers[$index + 4].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 5)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 5].logo)}" alt="{(filteredUsers[$index + 5].name)}" title="{(filteredUsers[$index + 5].name)}">
                            </div>

                        </div>

                        <div align="center" style="margin-top:20px;">
                            <!-- Controls -->
                            <a class="left" href="#carousel-customers" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right" href="#carousel-customers" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="modules" class="blue padding-t-50 padding-b-25 home-section" ng-controller="ModuleListCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">模块和蓝图</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <input type="text" ng-model="searchText" class="form-control search-text" placeholder="搜索" id="name" required data-validation-required-message="Please enter a module to search">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p>热门模块和蓝图</p>
                <br>
            </div>
            <div class="row">
                <div ng-cloak ng-repeat="module in modules | filter: searchText | orderBy: '-score.detail.popularity' | limitTo:16">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a ng-href="{{ site.url }}/modules/marketplace/#/details/{(module.package.name)}"
                            title="{(module.package.description)}">
                            <div class="card dark module summary-inline">
                                <div class="card-body">
                                    <i class="icon fa fa-cube fa-3x"></i>
                                    <div class="content">
                                        <div class="title fontSmall">{(module.package.name | jhiModuleFilter)}</div>
                                        <div class="sub-title"><span class="fa fa-user"></span> &nbsp; {(module.package.author.name)} &nbsp; | &nbsp; <span class="fa fa-download"></span> &nbsp; {(module.downloads)}</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function ocCallback(data, divId, txAmount) {
        const activeBackers = data.filter(it => it.isActive && it.lastTransactionAmount === txAmount);

        if (activeBackers.length > 0) {
            document.getElementById(divId).style.display = "block";
            const cols = activeBackers.map(it => `
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail no-margin-bottom">
                <div class="logo-container">
                    <div class="logo-container">
                        <a href="${it.website || it.profile}" target="_blank" rel="noopener" style="padding: 0px"><img src="${it.image || `{{ site.url }}/images/open-collective/${it.name.toLowerCase()}.png`}" class="sponsor-img"></a>
                    </div>
                    <div class="caption">
                        <a href="${it.website || it.profile}" target="_blank" rel="noopener">${it.name}</a>
                    </div>
                </div>
            </div>
        </div>`)
            const div = document.getElementById(`oc-${divId}`);
            div.innerHTML = cols.join('');
        }
    }

    function ocBronzeJsonpCallback(data){
        ocCallback(data, "bronze-sponsor", 100)
    }

    function ocSilverJsonpCallback(data){
        ocCallback(data, "silver-sponsor", 500)
    }
</script>
<script type="application/javascript" src="https://json2jsonp.com/?url=https://opencollective.com/generator-jhipster/tiers/bronze-sponsor/all.json?v=2&callback=ocBronzeJsonpCallback"></script>
<script type="application/javascript" src="https://json2jsonp.com/?url=https://opencollective.com/generator-jhipster/tiers/silver-sponsor/all.json&callback=ocSilverJsonpCallback"></script>
<script>
    familyIDFromQueryParam = (new URLSearchParams(window.location.search)).get('family')
    // simple random select of hipster family member if not specified in the `family` query param
    var familyMemberID = familyIDFromQueryParam || Math.floor(Math.random() * (8 - 0 + 1)) + 0;
    var familyMemberHeadID = Math.floor(Math.random() * (3 - 0 + 1)) + 0;
    document.getElementById("hipster").src = "images/logo/jhipster_family_member_" + familyMemberID + ".svg";
    document.getElementById("hipster-head").src = "images/logo/jhipster_family_member_" + familyMemberHeadID + "_head.svg";
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.jhipster.tech",
  "logo": "https://www.jhipster.tech/images/logo-jhipster.png",
  "name" : "JHipster",
  "sameAs" : [ "https://twitter.com/jhipster",
    "https://github.com/jhipster/generator-jhipster"]
}
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
    docsearch({
        apiKey: '9bd47d3de4af6f3662fd11a7f0e38819',
        indexName: 'jhipster',
        inputSelector: '.mobile-doc-search-algolia',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>
